.superblyTagfieldDiv{
    width: 373px;
    border: solid 1px #d6d6d6;
    background-color: #FFFFFF;
    float: left;
    clear: both;
    display: block;
}

.superblyTagfieldLoading {
    float: right;
    margin: 9px 3px 3px;
    display: none;
}

.superblyTagfieldClearer{
    clear: both;
}

.superblyTagfieldDiv ul{
    margin: 0;
    padding: 0;
}

.superblyTagfield{
    /* if no javascript */
    outline: none;
    /*width: 100%;*/
    height: 23px;
    border: solid 1px #d6d6d6;
    background-color: #FFFFFF;
}

.superblyTagInput{
    border: 0;
    outline: none;
    width:auto;
    padding: 0px;
    margin: 0;
    padding: 3px 0 2px;
    height: 17px;
    line-height: 17px;
}

.superblyTagInputItem{
    padding: 2px 0 0;
    margin: 0px;
}

.superblyTagItems {
    display: block;
    width: 351px;
    float: left;
    overflow: hidden;
}

.superblyTagItems li{
    list-style: none;
    float: left;
    padding: 2px 5px 2px 8px;


    /*	position: relative;*/
}

.superblyTagItems .superblyTagItem{
    border: solid 1px #c8c8c8;
    background-color: #dcdcdc;
    color: #2A2F66;
    float:  left;
    height: 17px;
    line-height: 17px;
    margin: 2px;
}
.superblyTagItems .superblyTagItem span, .superblyTagItems .superblyTagItem a, .superblyTagItems .superblyTagItem a img {vertical-align:  middle; float: left;}
.superblyTagItems .superblyTagItem a{
    color: #333;
    cursor: pointer;
    text-decoration:  none;
}

.superblyTagItems .superblyTagItem a img {
    margin: 4px 0 0 5px

}

.superblyTagItems .superblyTagItem a:hover{
    color: #333;
}
/*
.superblySuggestItemsOuter {
	position: absolute;
	z-index: 10000000;
	width: 375px;
	height: 200px;
	max-height: 200px;
	height: 200px !important;
	overflow-y: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}*/
.sugperblySuggestItems-Scroll {
    /*
    height: 300px;
    max-height: 300px;
    height: 300px !important;
    */
}
.superblySuggestItems{
    position: absolute;
    display: none;
    /*left: -3px;
    top: 25px;*/
    z-index: 10000000;
    width: 375px;

    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

.superblySuggestItems .superblySuggestItem{
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #d6d6d6;
    list-style: none;
    float: none;
    color: #000000;
    cursor: pointer;
    display: block;
    width: 363px;
}

.superblySuggestItems .superblySuggestItem:hover{
    cursor: pointer;
    /*border: solid 1px #181B38;*/
    background: #f7f7f7;
}

.superblySuggestItems .selected{
    background-color: #ededed;
    /*border: solid 1px #7aa9e3;*/
}