<div id="footer-inner" class="typical-campaign padbottom10">
    <div class="container" style="text-transform: uppercase; font-size: 18px; font-family: arial !important;">
        Khách hàng tiêu biểu
    </div>
</div>
<div id="comp" style="background-color:#f5f5f5; margin: 0 auto;">
    <div class="company">
        <div class="container fslide">
            <div class="fslide-box myclear">
                <div class="fslice-inner">
                    <a class="l-jcl_prev all_icon"></a>
                    <div id="slider">
                        <ul>
                            <li>
                                <img alt="cocacola"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/cocacola.png"/>
                            </li>
                            <li>
                                <img alt="dulux"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/dulux.png"/>
                            </li>
                            <li>
                                <img alt="hsbc"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/HSBC.png"/>
                            </li>
                            <li>
                                <img alt="mobifone"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/mobifone logo.png"/>
                            </li>
                            <li>
                                <img alt="samsung"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/Samsung lgo.png"/>
                            </li>
                            <li>
                                <img alt="unilever"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/unilever logo.png"/>
                            </li>
                            <li>
                                <img alt="viettel"
                                     src="https://mobilead.vn/images/landing-27-12-2013/vietnam/footer-slide/viettel logo.png"/>
                            </li>
                        </ul>
                    </div>
                    <a class="r-jcl_next all_icon"></a>
                </div>
            </div>
        </div><!-- end footer slide show -->
    </div>
</div>
<div class="spaceback">&nbsp;</div>
<div class="fmenu">
    <div class="fmenu-inner">
        <div class="footer-contact">
            <p>Tâng 20, Center Building Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Quận Thanh Xuân, TP Hà Nội.</p>
            <p>Điện thoại: (84 4) 3974 8899 (# 1063) | Fax: (84 4) 3974 4081</p>
            <p><a style="color: #999999;" href="mailto:mobile_support@admicro.vn">Email: mobile_support@admicro.vn</a>
            </p>
        </div>

        <p class="footer-admicro-logo">
            <a href="javascript:;" class="ic-admicro all_icon marright20"><img alt="mobile marketing"
                                                                               src="https://mobilead.vn/images/transparent.gif"
                                                                               style="width:176px; height:64px;"/></a>
        </p>

        <p class="footer-mobile-marketing">
            <a href="javascript:;" class=""><img alt="mobile marketing" src="http://adi.vcmedia.vn/logo/runbyvcc.v.png"
                                                 style="width:140px; height:59px;"/></a>
        </p>

        <div class="follow-admarket">
            <table>
                <tr>
                    <td width="110" colspan="4">
                        Theo dõi chúng tôi
                    </td>
                </tr>
                <tr>
                    <td style="width: 29px;">
                        <a target="_blank" href="https://www.facebook.com/AdMicro.VN" class="ic-facebook all_icon"><img
                                alt="facebook" src="https://mobilead.vn/images/transparent.gif"
                                style="width:24px; height:24px;"/></a>
                    </td>
                    <td style="width: 29px;">
                        <a target="_blank" href="https://twitter.com/AdtimesAdmicro" class="ic-twitter all_icon"><img
                                alt="twitter" src="https://mobilead.vn/images/transparent.gif"
                                style="width:24px; height:24px;"/></a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="tinylogo"><img alt="mobile logo" src="../images/landing-27-12-2013/vietnam/logo-xam-chan-trang.png"/>
        </div>
    </div>
</div>
<script type="text/javascript">

    $("#slider").jCarouselLite({
        auto: null,
        speed: 1000,
        circular: true,
        scroll: 1,
        visible: 5,
        btnNext: ".r-jcl_next",
        btnPrev: ".l-jcl_prev",
        hoverPause: true
    });

</script>