<div class="header myclear">
    <div class="header-inner">
        <div class="header-left">
            <a href="https://mobilead.vn/">
                <img alt="Mobile Ads - Mạng quảng cáo lớn nhất Việt Nam" class="float-left marleft5 martop10"
                     src="../images/landing-27-12-2013/vietnam/logo_min.png"/>
            </a>
        </div>

        <div class="header-right">
            <table class="float-right" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td>
                        <p class="header-hotline">
                            <span class="hhotline-phone">Hotline: <b>(04) 3974 3959</b></span> &nbsp;&nbsp;
                            <span class="hhotline-mail">Email: <a href="mailto:mobile_support@admicro.vn"
                                                                  class="underline">mobile_support@admicro.vn</a></span>
                        </p>
                    </td>
                    <td>
                        <ul class="hnavi">

                            <li>
                                <span class="float-left">Chào</span>
                                <a class="user" href="https://mobilead.vn/banner">a</a>


                                <img alt="" src="../images/ajax-loader.gif" id="imgLoadingPopup" style="display: none;"/>
                                <div class="ajaxLoadingPopupBackground" id="ajaxLoadingPopupBackground"></div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#divSuser").mouseup(function () {
                                            return false;
                                        });
                                        $(document).mouseup(function (e) {
                                            if ($(e.target).attr('id') != 'ahsuser') {
                                                $("#divSuser").slideUp(500);
                                            }
                                        });
                                    });
                                </script>
                            </li>

                            <li>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            </li>

                            <li>
                                <a href="https://mobilead.vn/account/info">
                                    Thông tin cá nhân <b id="hnumMess">(0)</b>
                                </a>

                            </li>

                            <li>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            </li>

                            <li>
                                <a href="https://mobilead.vn/logout?url=https%3A%2F%2Fmobilead.vn%2F">Thoát</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>
        <!-- important. fix for ie 6. Don't remove -->
        <!--[if IE 6]><br class="clearboth"/><![endif]-->
    </div>
</div>